body {
  font-family: sans-serif;
}

.buttons {
  float: right;
  text-align: right;
  width: 50%;
  .button {
    margin-right: 5px;
    display: inline-block;
    iframe {
      width: auto;
      max-width: 80px;
    }
  }
}
