body {
  font-family: sans-serif;
}

#app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 4em;
}

#message {
  font-size: 2em;
}

h1, #message {
  max-width: 100%;
  word-wrap: break-word;
}
